<% if (user.image) { %>
  <img src="<%= user.image %>" alt="<%= user.username %>">
<% } %>
<h1 class="title"><%= user.username %></h1>

<h2><%= user.events.length %> events</h2>
<% user.events.forEach((event) => { %>
  <h3><%= event.name %></h3>
  <form method="POST" action="/registrations/<%= user.id %>/events/<%= event.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete event">
  </form>
<% }) %>

<a href="registrations/<%= user.id %>/edit">Edit</a>

<form method="POST" action="/registrations/<%= user.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button class="button is-danger">Delete Account</button>
</form>
