<div class="pagemargin"></div>
<% if (user.image) { %>
  <img src="<%= user.image %>" alt="<%= user.username %>">
<% } %>
<h1 class="title"><i>Welcome back, <%= user.username %></i></h1>

<a href="/registrations/<%= user.id %>/edit">Edit Account</a>

<form method="POST" action="/registrations/<%= user.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <button class="">Delete Account</button>
</form>

<br>

<h2>Events Interested in: <%= user.events.length %></h2>

<br>


<% user.events.forEach((event) => { %>

  <h3><u><b> <%= event.name %> </b></u></h3>
  <h3>@<%= event.venue %></h3>
  <h3>Location: <%= event.location %></h3>
  <h4><%= event.description %> </h4>

  <form method="POST" action="/registrations/<%= user.id %>/events/<%= event.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete event">
  </form>
  <br>
<% }) %>
